
.projects {
    padding: 4rem 2rem;
}

.projects-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.projects-header h2 {
    font-size: 2.5rem;
}

.view-more {
    color: #03dac6;
    text-decoration: none;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
    align-items: start;
}

.project-card {
    background-color: #1f1f1f;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #333;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}



.project-info {
    padding: 1.25rem 1.5rem;
}

.project-info h3 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.project-award {
    color: #03dac6;
    font-weight: bold;
    margin-bottom: 1rem;
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 1rem 0;
}

.tag {
    background-color: #333;
    padding: 0.3rem 0.7rem;
    border-radius: 5px;
    font-size: 0.8rem;
}

.project-links {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.project-links .btn {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
}

.project-links .btn:hover {
    background-color: #444;
}
