@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --color-background: #0F172A;
  --color-surface: #1F1F1F;
  --color-accent: #03dac6;
  --color-primary: #ffffff;
  --color-secondary: #aaaaaa;
}

@layer base {
  body {
    @apply font-montserrat bg-background text-white m-0;
  }

  @media (min-width: 1025px) {
    * {
      cursor: none !important;
    }
  }

  h2 {
    @apply text-white border-b-2 border-accent pb-2 mb-6;
  }
}
